*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100%;
}
header{
    height: 20%;
    width: 100%;
}
nav{
    border: 2px solid black;
}
li{
    list-style-type: none;
    display: inline-block;
    border: 2px solid black;
    margin: 15px;
    padding: 20px;
}

.main-div{
    display: inline-block;
    height: 80%;
    width: 100%;
}

.box1{
    display: inline-block;
    border: 2px solid black;
    margin: 15px;
    padding: 20px;
    height: 30%;
    width: 20%;
    height: 100%;
    width: 25%;
    


}

.center{
    display: inline-block;
    border: 2px solid black;
    margin: 15px;
    padding: 20px;
    height: 100%;
    width: 50%;
}

.box2{
    display: inline-block;
    border: 2px solid black;
    margin: 15px;
    padding: 20px;
    height: 100%;
    width: 25%;
}
